node_modules/
Frontend/node_modules/
Backend/node_modules/
DelibirdMart/

# Environment Variables
.env
.env.local
*.env

# Build outputs
dist/
build/

# Logs
*.log

# OS / Editor
.DS_Store
.vscode/
.idea/